database:
    driver   : "sqlite"
    dbname   : "bookingapi"
    username : "user"
    password : "password"
    host     : "localhost"
    port     : "5432"
    logmode  : true

server:
    # host                       : "yourdomain.com"  // uncomment if you domain is not localhost
    port                       : "8000"
    secretkey                  : "YourSecretKeyHere"
    accessTokenExpireDuration  : 1
    refreshTokenExpireDuration : 1
    limitCountPerRequest       : 1
